
@layer base {


    @font-face {
        font-family: JetBrains;
        src: url('../fonts/JetBrainsMono-Light.ttf') format('truetype'),
        url('../fonts/JetBrainsMono-Light.woff2') format('woff2');
        font-weight: 300;
        font-style: normal;
        text-rendering: optimizeLegibility;
    }
    @font-face {
        font-family: JetBrains;
        src: url('../fonts/JetBrainsMono-LightItalic.ttf') format('truetype'),
        url('../fonts/JetBrainsMono-LightItalic.woff2') format('woff2');
        font-weight: 300;
        font-style: italic;
        text-rendering: optimizeLegibility;
    }
    @font-face {
        font-family: JetBrains;
        src: url('../fonts/JetBrainsMono-Regular.ttf') format('truetype'),
        url('../fonts/JetBrainsMono-Regular.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
        text-rendering: optimizeLegibility;
    }
    @font-face {
        font-family: JetBrains;
        src: url('../fonts/JetBrainsMono-Italic.ttf') format('truetype'),
        url('../fonts/JetBrainsMono-Italic.woff2') format('woff2');
        font-weight: 400;
        font-style: italic;
        text-rendering: optimizeLegibility;
    }
    @font-face {
        font-family: JetBrains;
        src: url('../fonts/JetBrainsMono-Medium.ttf') format('truetype'),
        url('../fonts/JetBrainsMono-Medium.woff2') format('woff2');
        font-weight: 500;
        font-style: normal;
        text-rendering: optimizeLegibility;
    }
    @font-face {
        font-family: JetBrains;
        src: url('../fonts/JetBrainsMono-MediumItalic.ttf') format('truetype'),
        url('../fonts/JetBrainsMono-MediumItalic.woff2') format('woff2');
        font-weight: 500;
        font-style: italic;
        text-rendering: optimizeLegibility;
    }
    @font-face {
        font-family: JetBrains;
        src: url('../fonts/JetBrainsMono-SemiBold.ttf') format('truetype'),
        url('../fonts/JetBrainsMono-SemiBold.woff2') format('woff2');
        font-weight: 600;
        font-style: normal;
        text-rendering: optimizeLegibility;
    }
    @font-face {
        font-family: JetBrains;
        src: url('../fonts/JetBrainsMono-SemiBoldItalic.ttf') format('truetype'),
        url('../fonts/JetBrainsMono-SemiBoldItalic.woff2') format('woff2');
        font-weight: 600;
        font-style: italic;
        text-rendering: optimizeLegibility;
    }
    @font-face {
        font-family: JetBrains;
        src: url('../fonts/JetBrainsMono-Bold.ttf') format('truetype'),
        url('../fonts/JetBrainsMono-Bold.woff2') format('woff2');
        font-weight: 700;
        font-style: normal;
        text-rendering: optimizeLegibility;
    }
    @font-face {
        font-family: JetBrains;
        src: url('../fonts/JetBrainsMono-BoldItalic.ttf') format('truetype'),
        url('../fonts/JetBrainsMono-BoldItalic.woff2') format('woff2');
        font-weight: 700;
        font-style: italic;
        text-rendering: optimizeLegibility;
    }
}